SETLIST{
    color: #fff; 
    background-color: #add8e6; 
    width: 100%;
    text-align: center;
}

SONG{
    display: block; 
    margin-bottom: 30pt; 
}
ARTIST{
    font-style:italic; 
}


HEADER{
    margin-top: 10px; 
    margin-bottom: 20pt; 
    color: #777; 
    text-decoration: underline;
}

ARTIST,TITLE,GENRE,YEAR, HEADER{
    display: block; 
}